@model Quanlixe.Models.NguoiDungXe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>NguoiDungXe</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
           Người dùng xe
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoTenNguoiDungXe)
        </dd>
        <dt>
            Đon vị công tác
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonViCongTac)
        </dd>



        <!-- Add more fields here if needed -->
    </dl>
</div>

<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.HoTenNguoiDungXeID }, new { @class = "btn btn-success mr-2" }) |
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary" })
</p>
